*.cmd
*.cbTemp
*.jpg
*.JPG
*.bin
*.list
*.out
*.[oa]
*.depend
*~
*.layout
*.autosave
bin/
simulation/qtcreator-files/paprikaSimulateur-build*/
*.pro.user*
remote/build-*/
remote/doc/
remote/Majiks/majiks.pro.user
